.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 200px;           
  background-color: #f4f4f4; 
  margin: 20px auto;       
}

.header-title {
  font-size: 2.5em;
  color: #333; 
}

